version: 3.0.8.{build}
image: Visual Studio 2017

configuration:
  - Release
environment:
  PROJECT: toofz.NecroDancer.Leaderboards
cache:
  - packages -> **\packages.config
notifications:
  - provider: Slack
    incoming_webhook:
      secure: c7l1UmXHWpIDLL1awU4r0QYVPToYM/XjV8trFyD1oHArKxs/vBTYiKYScr1EhCUgmEX6sAFBTvkUHF/k5B+cGjzqRBR2XkAO+lzk8cHQ1FI=

install:
  - git clone https://github.com/leonard-thieu/toofz-build.git Scripts

before_build:
  - appveyor-retry nuget restore -DisableParallelProcessing
  - choco install opencover.portable
  - choco install codecov
build:
  project: $(PROJECT).sln
  verbosity: minimal

test_script:
  - ps: .\Scripts\Test-Project.ps1
after_test:
  - codecov --file results.xml

deploy_script:
  - ps: .\Scripts\Deploy-NuGetPackage.ps1