version: $(VersionPrefix).{build}
image: Visual Studio 2017

skip_branch_with_pr: true
skip_commits:
  files:
    - LICENSE
    - README.md
configuration:
  - Release
environment:
  VersionPrefix: 27.0.0
  VersionSuffix: 
  FileVersion: '%APPVEYOR_BUILD_VERSION%'
  PackageServerApiKey:
    secure: XZmbJDCK5oiqhbLt1y7UXM6aCYPpF2tm/bJMUJzBsCe1fd2TuwXyaz99RN+bDpHw
notifications:
  - provider: Slack
    incoming_webhook:
      secure: c7l1UmXHWpIDLL1awU4r0QYVPToYM/XjV8trFyD1oHArKxs/vBTYiKYScr1EhCUgmEX6sAFBTvkUHF/k5B+cGjzqRBR2XkAO+lzk8cHQ1FI=
  
before_build:
  - nuget restore -Verbosity quiet
build:
  project: toofz.Steam.sln
  verbosity: minimal

test_script:
  - ps: |
      $projectPath = Resolve-Path .\test\toofz.Steam.Tests\toofz.Steam.Tests.csproj
      msbuild $projectPath /nologo /verbosity:minimal `
          /target:Rebuild `
          /target:Test `
          /property:Configuration=Coverage `
          /property:DebugType=full `
          /property:PublishCoverage=false

deploy_script:
  - ps: |
      $projectPath = Resolve-Path .\src\toofz.Steam\toofz.Steam.csproj
      msbuild $projectPath /nologo /verbosity:minimal /target:Pack /property:PublishPackage=$env:APPVEYOR_REPO_TAG
