version: $(VersionPrefix).{build}
image: Visual Studio 2017

skip_branch_with_pr: true
skip_commits:
  files:
    - LICENSE
    - README.md
configuration:
  - Release
environment:
  VersionPrefix: 0.0.0
  VersionSuffix: dev
  FileVersion: '%APPVEYOR_BUILD_VERSION%'
  PackageServerApiKey:
    secure: XZmbJDCK5oiqhbLt1y7UXM6aCYPpF2tm/bJMUJzBsCe1fd2TuwXyaz99RN+bDpHw
notifications:
  - provider: Slack
    incoming_webhook:
      secure: c7l1UmXHWpIDLL1awU4r0QYVPToYM/XjV8trFyD1oHArKxs/vBTYiKYScr1EhCUgmEX6sAFBTvkUHF/k5B+cGjzqRBR2XkAO+lzk8cHQ1FI=

install:
  - nuget update -Self
  
before_build:
  - appveyor-retry nuget restore -Verbosity quiet
build:
  project: toofz.Steam.sln
  verbosity: quiet

test_script:
  - ps: |
      $projectPath = Resolve-Path .\test\toofz.Steam.Tests\toofz.Steam.Tests.csproj
      msbuild $projectPath /verbosity:quiet /target:Coverage
after_test:
  - ps: |
      $projectPath = Resolve-Path .\test\toofz.Steam.Tests\toofz.Steam.Tests.csproj
      msbuild $projectPath /verbosity:quiet /target:PublishCoverage

deploy_script:
  - ps: |
      $projectPath = Resolve-Path .\src\toofz.Steam\toofz.Steam.csproj
      msbuild $projectPath /verbosity:quiet /target:PublishPackage /property:IsPackagePublishable=$env:APPVEYOR_REPO_TAG
