<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="Codecov" version="1.0.3" targetFramework="net45" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Moq" version="4.7.99" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="OpenCover" version="4.6.519" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="RichardSzalay.MockHttp" version="3.2.1" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net45" />
  <package id="toofz.SqlBulkUpsert" version="4.1.5" targetFramework="net45" />
  <package id="toofz.SteamKit2" version="2.0.6" targetFramework="net45" />
  <package id="toofz.TestsShared" version="4.1.0" targetFramework="net45" />
</packages>